<!--main-content-->
<jhi-alert-error></jhi-alert-error>
 <jhi-alert></jhi-alert>
<div class="main-product">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="testerminalviews">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <h1>Testimonials</h1>
                            <h4>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</h4>
                        </div>
                    </div>
                    <form class="form-testerminal" ng-submit="vm.submitComment()">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group form-fix">
                                    <label class="control-label col-sm-3">Company：</label>
                                    <div class="col-sm-7">
                                        <input type="text" value="" class="form-control" ng-model="vm.fromData.company">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group form-fix">
                                    <label class="control-label col-sm-3">Contact：</label>
                                    <div class="col-sm-7">
                                        <input type="text" value="" class="form-control" ng-model="vm.fromData.contact">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group form-fix">
                                    <label class="control-label col-sm-3">Tel：</label>
                                    <div class="col-sm-7">
                                        <input type="text" value="" class="form-control" ng-model="vm.fromData.telNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group form-fix">
                                    <label class="control-label col-sm-3">Fax：</label>
                                    <div class="col-sm-7">
                                        <input type="text" value="" class="form-control" ng-model="vm.fromData.fax">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group form-fix">
                                    <label class="control-label col-sm-3">E-mail：</label>
                                    <div class="col-sm-7">
                                        <input type="text" value="" class="form-control" ng-model="vm.fromData.email">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group form-fix">
                                    <label class="control-label col-sm-3">Address：</label>
                                    <div class="col-sm-7">
                                        <input type="text" value="" class="form-control" ng-model="vm.fromData.asi">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group group-padd15">
                                    <label for="recipient-name" class="control-label">Supplier Rating:</label>
                                    <div class="rating">
                                        Overall Satisfaction:
                                        <span class="rating-star" uib-rating ng-model="vm.fromData.satisfaction" max="5"  aria-labelledby="default-rating"></span>
                                    </div>
                                    <div class="rating">
                                        Product Quality:
                                        <span class="rating-star" uib-rating ng-model="vm.fromData.productQuality" max="5"  aria-labelledby="default-rating"></span>
                                    </div>
                                    <div class="rating">
                                        Communication Responsiveness:
                                        <span class="rating-star" uib-rating ng-model="vm.fromData.responsiveness" max="5"  aria-labelledby="default-rating"></span>
                                    </div>
                                    <div class="rating">
                                        Delivery:
                                        <span class="rating-star" uib-rating ng-model="vm.fromData.delivery" max="5"  aria-labelledby="default-rating"></span>
                                    </div>
                                    <div class="rating">
                                        Problem Resolution:
                                        <span class="rating-star" uib-rating ng-model="vm.fromData.problemResolution" max="5"  aria-labelledby="default-rating"></span>
                                    </div>
                                    <div class="rating">
                                        Imprinting/Personalization:
                                        <span class="rating-star" uib-rating ng-model="vm.fromData.imprinting" max="5"  aria-labelledby="default-rating"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group group-padd15">
                                    <label for="message-text" class="control-label">Adivse Note:</label>
                                    <textarea class="form-control" id="message-text" style="height: 100px;" ng-model="vm.fromData.adivseNote"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group group-padd15">
                                    <input type="submit" class="btn btn-primary btn-test" value="Submit" />
                                    <button class="btn btn-danger btn-test">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
