<div class="main-nav">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a href="../" class="navbar-brand">Corporate</a> -->
        </div>
        <nav id="bs-navbar" class="navbar-collapse special-collapse collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()" style="height: 1px;">
            <ul class="nav navbar-nav navbar-special">
                <!-- <li><a href="#">Price High to Low</a></li>
                <li class="line"><span>|</span></li>
                <li><a href="#">Price Low to High</a></li>
                <li class="line"><span>|</span></li> -->
                <li><a href="#">View All</a></li>
                <li class="line"><span>|</span></li>
                <li><a href="#">Hot sales</a></li>
                <li class="line"><span>|</span></li>
                <li><a href="#">New Arrivals</a></li>
                <li class="line"><span>|</span></li>
                <li><a href="#">Top 100</a></li>
            </ul>
        </nav>
    </div>
</div>
<!--main-content-->
<div class="main-product">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div class="panel panel-blue" ng-repeat="categorys in vm.categoryList.Categorys" ng-show="categorys['cateName']==vm.type">
                <div class="panel-heading" ng-bind="categorys['cateName']"></div>
                <div class="panel-body panel-navlist">
                    <p ng-repeat="category in categorys['category']" ><a href="#" ng-bind="category['cateName']"></a></p>
                </div>
            </div>
            <div class="panel panel-red">
                <div class="panel-heading">Color</div>
                <div class="panel-body">
                    <ul class="panel-color">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-blue">
                <div class="panel-heading">Material</div>
                <div class="panel-body panel-navlist">
                    <a href="product-detail.html">KIND 1</a>
                    <a href="product-detail.html">KIND 2</a>
                    <a href="product-detail.html">KIND 3</a>
                    <a href="product-detail.html">KIND 4</a>
                </div>
            </div>
            <div class="panel panel-green">
                <div class="panel-heading">Price</div>
                <div class="panel-body panel-navlist">
                    <a href="#">price low</a>
                    <a href="#">price high</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <h2> Hot Recommend</h2>
                    <p class="hot-text">NEWEST TRENDS FROM TOP BRANDS</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="product in vm.productList.products">
                    <div class="thumbnails" ui-sref="product-detail({'id': product['id']})">
                        <img ng-src="{{vm.PROD.IMAGEURL + product['pictures'][0]['imageUrl'] | trustAsUrl}}">
                        <div class="caption">
                            <h4><span ng-bind="product['lastUpdate']"></span ng-bind="product['productName']"></h4>
                            <p ng-bind-html-unsafe="product['productDetails']"></p>
                            <p class="hot-color">
                                Color：<span class="label-warning"></span>
                                <span class="label-info"></span>
                                <span class="label-primary"></span>
                            </p>
                            <p class="hot-r">
                                TAGS：<a href="#" ng-bind="product['proTag']"></a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="thumbnails" ui-sref="product-detail">
                        <img src="content/images/mathwork.jpg">
                        <div class="caption">
                            <h4><span>2017.06.26</span>Heading</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <p class="hot-color">
                                Color：<span class="label-warning"></span>
                                <span class="label-info"></span>
                                <span class="label-primary"></span>
                            </p>
                            <p class="hot-r">
                                TAGS：<a href="#">Fashion</a> | <a href="#">Lifestyle</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="thumbnails" ui-sref="product-detail">
                        <img src="content/images/mathwork.jpg">
                        <div class="caption">
                            <h4><span>2017.06.26</span>Heading</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <p class="hot-color">
                                Color：<span class="label-warning"></span>
                                <span class="label-info"></span>
                                <span class="label-primary"></span>
                            </p>
                            <p class="hot-r">
                                TAGS：<a href="#">Fashion</a> | <a href="#">Lifestyle</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="thumbnails" ui-sref="product-detail">
                        <img src="content/images/mathwork.jpg">
                        <div class="caption">
                            <h4><span>2017.06.26</span>Heading</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <p class="hot-color">
                                Color：<span class="label-warning"></span>
                                <span class="label-info"></span>
                                <span class="label-primary"></span>
                            </p>
                            <p class="hot-r">
                                TAGS：<a href="#">Fashion</a> | <a href="#">Lifestyle</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="thumbnails" ui-sref="product-detail">
                        <img src="content/images/mathwork.jpg">
                        <div class="caption">
                            <h4><span>2017.06.26</span>Heading</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <p class="hot-color">
                                Color：<span class="label-warning"></span>
                                <span class="label-info"></span>
                                <span class="label-primary"></span>
                            </p>
                            <p class="hot-r">
                                TAGS：<a href="#">Fashion</a> | <a href="#">Lifestyle</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="thumbnails" ui-sref="product-detail">
                        <img src="content/images/mathwork.jpg">
                        <div class="caption">
                            <h4><span>2017.06.26</span>Heading</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <p class="hot-color">
                                Color：<span class="label-warning"></span>
                                <span class="label-info"></span>
                                <span class="label-primary"></span>
                            </p>
                            <p class="hot-r">
                                TAGS：<a href="#">Fashion</a> | <a href="#">Lifestyle</a>
                            </p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
