<jhi-alert></jhi-alert>
<div class="main-nav">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
</div>
<!--main-content-->
<div class="main-product">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6">
                    <ul class="breadcrumb">
                        <li>
                            <i class="glyphicon glyphicon-home"></i>
                            <a href="index.html">Home</a>
                            <span></span>
                        </li>
                        <li>
                            <a ui-sref="product-list">product List</a>
                        </li>
                        <li><span ng-bind="vm.product.productName"></span></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6">
                    <div class="share-info">
                        <span>Share This</span>
                        <!-- <div class="share-icons">
                            <a href="#"><i class="glyphicon glyphicon-ruble"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-tencent-weibo"></i></a>
                            <a href="#"><i class="fa fa-weibo"></i></a>
                            <a href="#"><i class="fa fa-vk"></i></a>
                        </div> -->
                        <ul class="social-icons">
                            <li><a data-original-title="Feed" class="rss"></a></li>
                            <li><a data-original-title="Facebook" socialshare socialshare-provider="facebook" socialshare-text="{{vm.product.productName}}"
                                    socialshare-hashtags="" socialshare-url="" class="facebook"></a></li>
                            <li><a data-original-title="Twitter" socialshare socialshare-provider="twitter" socialshare-text="{{vm.product.productName}}"
                                    socialshare-hashtags="" socialshare-url="" class="twitter"></a></li>
                            <li><a data-original-title="Goole Plus" socialshare socialshare-provider="google" socialshare-text="{{vm.product.productName}}"
                                    socialshare-hashtags="" socialshare-url="" class="googleplus"></a></li>
                            <li><a data-original-title="Pinterest" socialshare socialshare-provider="pinterest" socialshare-text="{{vm.product.productName}}"
                                    socialshare-hashtags="" socialshare-url="" class="pintrest"></a></li>
                            <li><a data-original-title="Linkedin" socialshare socialshare-provider="linkedin" socialshare-text="{{vm.product.productName}}"
                                    socialshare-hashtags="" socialshare-url="" class="linkedin"></a></li>
                            <li><a data-original-title="Vimeo" socialshare socialshare-provider="vk" socialshare-text="{{vm.product.productName}}"
                                    socialshare-hashtags="" socialshare-url="" class="vimeo"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <!-- <div class="thumbnails">
                        <img src="content/images/product-th2.png">
                        <div class="caption">
                            <h4>Heading</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div> -->
                    <style>
                        .hoverImg {
                            border: 1px solid red;
                        }
                    </style>



                    <div class="zoompic"><img ng-src="{{vm.PROD.IMAGEURL + vm.product['pictures'][vm.imgIdx]['imageUrl'] | trustAsUrl}}"
                            width="684" height="394" alt="loding ..." /></div>
                    <div class="sliderbox">
                        <div id="btn-left" class="arrow-btn dasabled"></div>
                        <div class="slider" id="thumbnail">
                            <ul>
                                <li ng-repeat="d in vm.product.pictures" ng-class="{'hoverImg':hovering}" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
                                    <a ng-if="d['imageType']==1">
                                        <img ng-mouseover="vm.selectImg($index)" ng-src="{{vm.PROD.IMAGEURL + d['imageUrl'] | trustAsUrl}}" width="115" height="74" alt="loding ..." />
                                    </a>
                                </li>

                                <!-- <li class="current"><a href="content/images/3427.jpg" target="_blank"><img src="content/images/14fd.jpg" width="115" height="74" alt="美女配奥迪A4L墙纸01" /></a></li>
                                <li><a href="content/images/52347.jpg" target="_blank"><img src="content/images/41a.jpg" width="115" height="74" alt="美女配奥迪A4L墙纸02" /></a></li>
                                <li><a href="content/images/23463.jpg" target="_blank"><img src="content/images/234fa.jpg" width="115" height="74" alt="美女配奥迪A4L墙纸03" /></a></li>
                                <li><a href="content/images/3247.jpg" target="_blank"><img src="content/images/412saf.jpg" width="115" height="74" alt="美女配奥迪A4L墙纸04" /></a></li>
                                <li><a href="content/images/26547.jpg" target="_blank"><img src="content/images/41356a.jpg" width="115" height="74" alt="美女配奥迪A4L墙纸05" /></a></li>
                                <li><a href="content/images/2153.jpg" target="_blank"><img src="content/images/432sadf.jpg" width="115" height="74" alt="美女配奥迪A4L墙纸06" /></a></li>
                                <li><a href="content/images/3427.jpg" target="_blank"><img src="content/images/14fd.jpg" width="115" height="74" alt="美女配奥迪A4L墙纸01" /></a></li> -->
                            </ul>
                        </div>
                        <div id="btn-right" class="arrow-btn"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                    <div class="panel panel-nbg">
                        <div class="panel-body panet-product">
                            <h3 ng-bind="vm.product.productName"></h3>
                            <div class="product-desc">
                                <h4>Production Description</h4>
                                <p ng-bind-html-unsafe="vm.product.productDetails"></p>
                                <!-- <h4>Categories：<span>Leather</span></h4> -->
                            </div>
                            <div class="question">
                                <div class="re-star ques-star reviews-stars">
                                    <span class="rating-star" uib-rating ng-model="vm.product['avgScore']" max="5"  aria-labelledby="default-rating" read-only="true"></span>
                                </div>
                                <p><span ng-bind="vm.product['totalReview']"></span> customers reviews</p>
                                <span>|</span>
                                <p><span ng-bind="vm.product['totalReview']"></span> answered questions</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body">
                            <!-- BEGIN FORM-->
                            <form action="#" class="horizontal-form">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4 class="get-ques-tit">Get Quotation</h4>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="control-group">
                                            <label class="control-label">*Company Name</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" ng-model="vm.quotation.companyName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="control-group">
                                            <label class="control-label">*Client Name</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" ng-model="vm.quotation.clientName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="control-group">
                                            <label class="control-label">*E-mail</label>
                                            <div class="controls">
                                                <input type="email" class="form-control" ng-model="vm.quotation.email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="control-group">
                                            <label class="control-label">*Phone No</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" ng-model="vm.quotation.phoneNumber">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="control-group">
                                            <label class="control-label">*Item</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" ng-model="vm.quotation.item">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="control-group">
                                            <label class="control-label">Delivery Time</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" ng-model="vm.quotation.deliveryTime">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="control-group">
                                            <label class="control-label">*Target Price/Budget</label>
                                            <div class="controls">
                                                <input type="number" class="form-control" ng-model="vm.quotation.targetPrice">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="control-group">
                                            <label class="control-label">*Address</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" ng-model="vm.quotation.asi">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="control-group">
                                            <label class="control-label">message</label>
                                            <div class="controls">
                                                <textarea class="form-control" ng-model="vm.quotation.message"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-init="vm.quotation['quantity']=1">
                                        <input class="form-control form-number"  required="" type="number" min="1" max="100" ng-model="vm.quotation.quantity">
                                        <button type="button" class="btn btn-primary" ng-click="vm.addCart()">Add to Cart</button>
                                        <button type="button" class="btn" ui-sref="product-list">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="product-reviews">
                        <!-- Nav tabs -->
                        <!-- <ul class="nav nav-tabs product-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Costumers Reviews</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Product Details</a></li>
                            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Pricing</a></li>
                        </ul> -->
                        <uib-tabset class="product-tabs" justified="true">



                            <uib-tab heading="Costumers Reviews">
                                <div class="thumbreviews" ng-repeat="d in vm.product['reviews']">
                                    <!-- <h4>Top customer reviews</h4> -->
                                    <h5>
                                        <span class="reviews-stars">
                                            <span uib-rating ng-model="vm.fsdf" max="5"  aria-labelledby="default-rating" read-only="true"></span>
                                        </span>
                                    </h5>
                                    <p class="reviews-date">By <span ng-bind="d['createUser']"></span> </p> on <span ng-bind="d['createDate']"></span>
                                    <p ng-bind="d['comment']">loading ...</p>
                                </div>
                            </uib-tab>
                            <uib-tab heading="Product Details">
                                <div ng-repeat="d in vm.product.pictures" ng-if="d['imageType']==4">
                                    <img ng-src="{{vm.PROD.IMAGEURL + d['imageUrl'] | trustAsUrl}}" width="100%" height="auth" alt="loding ..." />
                                </div>
                                <uib-accordion close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default" is-open="status.open">
                                        <uib-accordion-heading>
                                        Pricing <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                        </uib-accordion-heading>
                                        <div class="contentContainer">
                                            <div class="priceGridTop"><strong>{{vm.product.productSn}}</strong></div>
                                            <div class="table-responsive">
                                                <table class="priceGridTable">
                                                    <thead>
                                                        <tr>
                                                            <th>Quantity</th>
                                                            <th ng-bind="vm.product.countA"></th>
                                                            <th ng-bind="vm.product.countB"></th>
                                                            <th ng-bind="vm.product.countC"></th>
                                                            <th ng-bind="vm.product.countD"></th>
                                                            <th ng-bind="vm.product.countE"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Price</td>
                                                            <td>${{vm.product.priceA}}</td>
                                                            <td>${{vm.product.priceB}}</td>
                                                            <td>${{vm.product.priceC}}</td>
                                                            <td>${{vm.product.priceD}}</td>
                                                            <td>${{vm.product.priceE}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <p><strong>Price Includes:</strong> {{vm.product.priceIncludes}}</p>
                                            <p>To purchase this product or for more information, please contact us by info@sourcingunited.com.</p>
                                        </div>
                                    </div>
                                </uib-accordion>
                                <uib-accordion close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default" is-open="status.open">
                                        <uib-accordion-heading>
                                        Product Detail <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                        </uib-accordion-heading>
                                        <div class="contentContainer">
                                            <h4>Category</h4>
                                            <p>{{vm.cateName}}</p>
                                            <h4>Material</h4>
                                            <p>{{vm.materialName}}</p>
                                            <h4>Size</h4>
                                            <p>{{vm.product.sizeL}}" x{{vm.product.sizeW}} " x {{vm.product.sizeH}} "</p>
                                            <h4>Color</h4>
                                            <p>{{vm.product.detailColor}}</p>
                                            <h4>Samples</h4>
                                            <p>Product Sample</p>
                                            <p><strong>Sample: Product Sample</strong> </p>
                                            <p>Sample Charge(Other)</p>
                                            <div class="table-responsive">
                                                <table class="priceGridTable">
                                                    <thead>
                                                        <tr>
                                                            <th>Quantity</th>
                                                            <th>1</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Price</td>
                                                            <td>${{vm.product.productPrice}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <p><strong>Price Includes：</strong>{{vm.product.priceIncludes}}</p> 
                                            <h4>Shipping Estimate</h4>
                                            <p>{{vm.product.shippingEstimate}}</p>
                                        </div>
                                    </div>
                                </uib-accordion>
                                <uib-accordion close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default" is-open="status.open">
                                        <uib-accordion-heading>
                                        Imprint <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                        </uib-accordion-heading>
                                        <div class="contentContainer">
                                            <h4>Imprint Information</h4>
                                            <p><strong>Imprint Method：</strong>{{vm.product.imprintMethod}}</p>
                                            <p><strong>Imprint Color：</strong>{{vm.product.imprintColor}}</p>
                                            <p><strong>Imprint Size: </strong>{{vm.product.imprintSize}}</p>
                                            <p><strong>Full Color Process：</strong>{{vm.product.fullColorProcess}}</p>
                                            <p><strong>Personalization：</strong>{{vm.product.personalization}}</p>
                                            <p><strong>Sold Unimprinted：</strong>{{vm.product.soldUnimprinted}}</p>
                                            <!-- <h4>Imprint Color</h4>
                                            <p>{{vm.product.imprintColor}}</p>
                                            <h5>Imprint Color : {{vm.product.imprintColor}}</h5>
                                            <p>Imprint Color Charge (Other)</p>
                                            <div class="table-responsive ">
                                                <table class="priceGridTable">
                                                    <thead>
                                                        <tr>
                                                            <th>Quantity</th>
                                                            <th>1</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Price</td>
                                                            <td>${{vm.product.productPrice}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <p><strong>Price Includes：</strong>{{vm.product.priceIncludes}}</p> 
                                            <p><strong>Price Includes：</strong>{{vm.product.priceIncludes}}</p>  -->
                                            <h4>Artwork & Proofs</h4>
                                            <p>{{vm.proofsNames}}</p>
                                        </div>
                                    </div>
                                </uib-accordion>
                                <uib-accordion close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default" is-open="status.open">
                                        <uib-accordion-heading>
                                        Production and Shopping <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                        </uib-accordion-heading>
                                        <div class="contentContainer">
                                            <h4>Production Information</h4>
                                            <p><strong>Production Time：</strong>{{vm.product.productionTime}}</p>
                                            <p><strong>Rush Service：</strong>{{vm.product.rushService}}</p>
                                            <p><strong>FOB Point：</strong>{{vm.product.fobPoint}}</p>
                                            <p><strong>Shipping Weight：</strong>{{vm.product.productWeight}}</p>
                                            <h4>Country of Origin</h4>
                                            <p>{{vm.areaName}}</p>
                                            <h4>Packaging</h4>
                                            <p>{{vm.product.packaging}}</p>
                                        </div>
                                    </div>
                                </uib-accordion>
                                <uib-accordion close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default" is-open="status.open">
                                        <uib-accordion-heading>
                                        Safety and Compliance <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                        </uib-accordion-heading>
                                        <p><strong>Safety Warningst：</strong>No safety warnings for this product</p>
                                    </div>
                                </uib-accordion>
                                <div class="contentContainer">
                                    <p>All prices and descriptions are subject to change without notice. If the price listed is different from the actual price, we will notify you before processing your order. Prices will be calculated using end of day exchange rates if orders contain products with different currencies. Total price is for merchandise only. Prices may be exclusive of any setup charges, art changes, shipping charges, state / provincial required taxes, rush charges or any other additional charges, which will be communicated prior to processing the order.</p>
                                    <p>Information, data and/or screens (the "Material") from this site may not be copied, duplicated, saved, archived, or captured by any means except that the Material may be used as part of normal browser caching and printing performed in the course of using the site for its intended purpose.</p>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="messages">33333</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="reviews">
                        <div class="reviews-txt">
                            <h4>Reviews</h4>
                            <div class="re-star">
                                <span class="rating-star" uib-rating ng-model="vm.product['avgScore']" max="5"  aria-labelledby="default-rating" read-only="true"></span>
                                <span>470</span>
                            </div>
                            <p>4.3 out of 4 Star</p>
                        </div>
                        <p>Share your thoughts with other customers</p>
                        <button class="btn btn-default" ui-sref="product-detail-reviews({id: vm.product['id']})">Write a Customers Reviews</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- <div class="bigImg" ng-if="vm.showimg">
    <div class="img_box" ng-click="vm.showImg()">
        <img ng-src="{{vm.PROD.IMAGEURL + vm.product['pictures'][vm.imgIdx]['imageUrl'] | trustAsUrl}}" alt="loding ...">
    </div>
</div> -->