<nav class="navbar navbar-default" role="navigation">
    <div >

        <header class="main-header">
            <div class="row">
                <div class="col-xs-12 col-md-5 col-lg-3">
                    <div class="header-logo">
                        <a ui-sref="home"><img src="content/images/logo.png" alt="corporate" title="corporate"></a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-7 col-lg-9" ng-switch="vm.isAuthenticated()">
                    <div class="row">
                        <div class="help-info" ng-switch-when="true">
                            <div class="help-icon">
                                <a ui-sref="mycart-list"><span class="glyphicon glyphicon-shopping-cart"> </span>
                                    <!-- <span class="badge">42</span>     -->
                                </a>
                                <a ui-sref="userinfo-detail"><span class="glyphicon glyphicon-user"></span></a>
                                <a ng-click="vm.logout()">Log out</a>
                            </div>
                        </div>
                        <div class="help-info" ng-switch-when="false">
                            <div class="help-link">
                                <a ui-sref="ourservice-list">About Us</a>
                                <a ui-sref="full-login">Log in</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="hint-service">
                            <div class="col-xs-4 col-md-3">
                                <div class="hint-search">
                                    <i class="glyphicon glyphicon-search"></i><input type="text" placeholder="Hint text"/>
                                </div>
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <ul class="nav-service">
                                    <li>
                                        <a><p>Our service</p> <i class="glyphicon glyphicon-triangle-bottom"></i></a>
                                        <ul class="sub-menu">
                                            <li><a ui-sref="ourservice-list">our service</a></li>
                                            <li><a ui-sref="ourservice-list">sourcing</a></li>
                                            <li><a ui-sref="ourservice-list">brain storming</a></li>
                                            <li><a ui-sref="ourservice-list">quality control</a></li>
                                            <li><a ui-sref="ourservice-list">logistic service</a></li>
                                            <li><a ui-sref="ourservice-list">fincial support</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a ui-sref="testerminal-detail"><p>Testimonials</p></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</nav>
