<nav class="navbar navbar-default" role="navigation">
    <div >

        <header class="main-header">
            <div class="row">
                <div class="col-xs-12 col-md-5 col-lg-3">
                    <div class="header-logo">
                        <a ui-sref="home"><img src="content/images/logo.png" alt="corporate" title="corporate"></a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-7 col-lg-9">
                    <div class="row">
                        <div class="help-info">
                            <div class="help-icon">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span class="glyphicon glyphicon-heart-empty"></span>
                            </div>
                            <div class="help-link">
                                <a href="#">About Us</a>
                                <a ui-sref="full-login">Log in</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="hint-service">
                            <div class="col-xs-4 col-md-3">
                                <div class="hint-search">
                                    <i class="glyphicon glyphicon-search"></i><input type="text" />
                                </div>
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <ul class="nav-service">
                                    <li>
                                        <a><p>Our service</p> <i class="glyphicon glyphicon-triangle-bottom"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="#">Sourcing</a></li>
                                            <li><a href="#">Sourcing</a></li>
                                            <li><a href="#">Sourcing</a></li>
                                            <li><a href="#">Sourcing</a></li>
                                            <li><a href="#">Sourcing</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><p>Testerminal</p></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</nav>
