<!--main-content-->
<div class="main-product">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="mycart">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <h1>My Cart</h1>
                            <h4>Customer info</h4>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <label>Company name：</label>
                            <span>guangzhoujiaoye</span>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <label>Client name：</label>
                            <span>guangzhoujiaoye</span>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <label>E-mail：</label>
                            <span>guangzhoujiaoye</span>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <label>Phone no：</label>
                            <span>guangzhoujiaoye</span>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <label>ASI：</label>
                            <span>guangzhoujiaoye</span>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <label>FAX：</label>
                            <span>guangzhoujiaoye</span>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <h4>Shop cart</h4>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <table class="mycart-table">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" /></th>
                                        <th>Product info</th>
                                        <th>Quantity</th>
                                        <th>Delivery time</th>
                                        <th>Target price/Budget</th>
                                        <th>ASI or Sage No</th>
                                        <th>Message</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="checkbox" /></td>
                                    <td data-label="Product info">
                                        <div class="mycartthumb-xs">
                                            <img src="../../images/product-th2.png">
                                            <div class="caption">
                                                <h5>Heading</h5>
                                                <p>Cras justo odio.</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-label="Quantity"><input class="form-control form-number" placeholder="max = 5" ng-model="f.h" ui-validate=" '$value <= 5' " required="" type="number"></td>
                                    <td data-label="Delivery time">2017.09.08</td>
                                    <td data-label="Target price/Budget">$998.8</td>
                                    <td data-label="ASI or Sage No">99883777357</td>
                                    <td data-label="Message">
                                        <p>Cras justo odio</p>
                                        <p>dapibus ac facilisis</p>
                                        <p>egestas eget quam</p>
                                    </td>
                                    <td data-label="Action">
                                        <div class="mycart-action">
                                            <button class="btn btn-info">Edit</button>
                                            <button class="btn btn-danger">Delect</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" /></td>
                                    <td data-label="Product info">
                                        <div class="mycartthumb-xs">
                                            <img src="../../images/product-th2.png">
                                            <div class="caption">
                                                <h5>Heading</h5>
                                                <p>Cras justo odio.</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-label="Quantity"><input class="form-control form-number" placeholder="max = 5" ng-model="f.h" ui-validate=" '$value <= 5' " required="" type="number"></td>
                                    <td data-label="Delivery time">2017.09.08</td>
                                    <td data-label="Target price/Budget">$998.8</td>
                                    <td data-label="ASI or Sage No">99883777357</td>
                                    <td data-label="Message">
                                        <p>Cras justo odio</p>
                                        <p>dapibus ac facilisis</p>
                                        <p>egestas eget quam</p>
                                    </td>
                                    <td data-label="Action">
                                        <div class="mycart-action">
                                            <button class="btn btn-info">Edit</button>
                                            <button class="btn btn-danger">Delect</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--main-cooperator-->
<div class="main-cooperator">
    <div class="row">
        <div class="col-lg-12">
            <h2> Cooperate Partners</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
            <div class="partners">
                <img src="../../images/tencent.svg"/>
                <div class="caption">
                    <h5>tencent</h5>
                    <p>Cras justo</p>
                    <p>odio, dapibus</p>
                    <p>vehicula ut id elit.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
            <div class="partners">
                <img src="../../images/tencent.svg"/>
                <div class="caption">
                    <h5>tencent</h5>
                    <p>Cras justo</p>
                    <p>odio, dapibus</p>
                    <p>vehicula ut id elit.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
            <div class="partners">
                <img src="../../images/tencent.svg"/>
                <div class="caption">
                    <h5>tencent</h5>
                    <p>Cras justo</p>
                    <p>odio, dapibus</p>
                    <p>vehicula ut id elit.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
            <div class="partners">
                <img src="../../images/tencent.svg"/>
                <div class="caption">
                    <h5>tencent</h5>
                    <p>Cras justo</p>
                    <p>odio, dapibus</p>
                    <p>vehicula ut id elit.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
            <div class="partners">
                <img src="../../images/tencent.svg"/>
                <div class="caption">
                    <h5>tencent</h5>
                    <p>Cras justo</p>
                    <p>odio, dapibus</p>
                    <p>vehicula ut id elit.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
            <div class="partners">
                <img src="../../images/tencent.svg"/>
                <div class="caption">
                    <h5>tencent</h5>
                    <p>Cras justo</p>
                    <p>odio, dapibus</p>
                    <p>vehicula ut id elit.</p>
                </div>
            </div>
        </div>
    </div>      
</div>