<div ng-cloak>
    <div class="page-wrapper">
        <!--header-->

        <!--main-banner-->
        <div>
          <div style="height: 305px">
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
              <div uib-slide ng-repeat="slide in vm.slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin:auto;" ui-sref="product-list">
                <div class="carousel-caption">
                  <h4> {{slide.id}}</h4>
                  <p>{{slide.text}}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
              <button type="button" class="btn btn-info" ng-click="randomize()">Randomize slides</button>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="noWrapSlides">
                  Disable Slide Looping
                </label>
              </div>
            </div>
            <div class="col-md-6">
              Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
              <br />Enter a negative number or 0 to stop the interval.
            </div>
          </div> -->
        </div>
        <!--main-cases-->
        <div class="main-cases">
            <div class="row">
                <div class="col-lg-12">
                    <h2> Cases & Factories</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4" ng-repeat="case in vm.caseList.cases">
                    <div class="cases-list">
                        <img ng-src="{{vm.PROD.IMAGEURL + case['pictures'][0]['imageUrl'] | trustAsUrl}}"/>
                        <div class="cases-list-info">
                            <h3 ng-bind="case['title']"></h3>
                            <h4 ng-bind="case['brief']">Heading</h4>
                            <p ng-bind="case['description']"></p>
                            <a ui-sref="ourservice-list" class="btn-detail">Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a ui-sref="case-list" class="btn-see">See More</a>
                </div>
            </div>
        </div>
        <!--main-content-->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <h2> Hot Recommend</h2>
                    <p class="hot-text">NEWEST TRENDS FROM TOP BRANDS</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Nav tabs -->
                    <!-- <ul class="nav nav-tabs hot-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">New Arrvial</a></li>
                        <li>|</li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Top100</a></li>
                        <li>|</li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Hot Sales</a></li>
                    </ul> -->
                    <uib-tabset class="hot-tabs" justified="true">
                        <uib-tab heading="New Arrvial" select="vm.loadProductList('createDate')"></uib-tab>
                        <uib-tab heading="Top100" select="vm.loadProductList('sellCount')"></uib-tab>
                        <uib-tab heading="Hot Sales" select="vm.loadProductList('isHot')"></uib-tab>
                    </uib-tabset>
                      <!-- Tab panes -->
                      <div class="tab-content">
                          <div role="tabpanel" class="tab-pane active" id="home">
                              <div class="row">
                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" ng-repeat="product in vm.productList.products">
                                      <div class="thumbnails" ui-sref="product-detail({'id': product['id']})">
                                          <img ng-src="{{vm.PROD.IMAGEURL + product['pictures'][0]['imageUrl'] | trustAsUrl}}">
                                          <div class="caption">
                                              <h4 ng-bind="product['productName']"></h4>
                                              <p  ng-bind-html-unsafe="product['productDetails'] "></p>
                                              <!-- <pre ng-init="d = '<p style="color: red"> 123123</p>'">
                                                  {{d | trustAsHTML}}
                                              </pre> -->
                                              <p class="hot-color">
                                                  Color：<span class="label-warning"></span>
                                                  <span class="label-info"></span>
                                                  <span class="label-primary"></span>
                                              </p>
                                              <p class="hot-r">
                                                  TAGS：<a href="#" ng-bind="product['proTag']"></a>
                                              </p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- <div role="tabpanel" class="tab-pane" id="profile">222222</div>
                          <div role="tabpanel" class="tab-pane" id="messages">33333</div> -->
                      </div>


                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a ui-sref="product-list({'orderby': vm.orderby})" class="btn-see">See More</a>
                </div>
            </div>
        </div>
        <!--main-cases-->
        <div class="main-events">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="event-list event-hover">
                        <img src="content/images/industry_manufacture.svg">
                        <h3>By Industy</h3>
                        <div class="event-cover">
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Educational</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Financial</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Healthcare</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Electronic</a> </p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Not-for-profit</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Casino</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Hospitality</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Real Estate</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Restaurant</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Auto Industry</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Bar</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Super Market</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="event-list event-hover">
                        <img src="content/images/events.svg">
                        <h3>By Event</h3>
                        <div class="event-cover">
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Events-Holiday'})">Holiday</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Event-Corporate events'})">Corporate events</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Events-Themed Event'})">Themed Event</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="event-list event-hover">
                        <img src="content/images/Business_Catalogue.svg">
                        <h3>By Catalog</h3>
                        <div class="event-cover">
                            <p><a ui-sref="product-list"></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--main-rollImg-->
        <div class="container main-rollImg">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <a class="roll-images" href="http://ipromoteu.com">
                        <img src="content/images/EP-Logo-notag.png" />
                    </a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <a class="roll-images" href="https://www.geiger.com">
                        <img src="content/images/GeigerBrandspiration_250px.png" />
                    </a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <a class="roll-images" href="https://www.halo.com/halo-locations.aspx">
                        <img src="content/images/halo-logo.png"/>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <a class="roll-images" href="http://ipromoteu.com">
                        <img src="content/images/IPU-Logo_Color-_NoBlackLine_dropshadow4.png"/>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <a class="roll-images" href="http://www.logomark.com">
                        <img src="content/images/logo_web.png"/>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <a class="roll-images" href="http://www.proforma.com">
                        <img src="content/images/proforma-logo.png"/>
                    </a>
                </div>
            </div>
        </div>
        <!--main-content-->
        <!-- <div class="main-cooperator">
            <div class="row">
                <div class="col-lg-12">
                    <h2> Cooperate Partners</h2>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="partners">
                        <img src="content/images/tencent.svg"/>
                        <div class="caption">
                            <h5>tencent</h5>
                            <p>Cras justo</p>
                            <p>odio, dapibus</p>
                            <p>vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="partners">
                        <img src="content/images/tencent.svg"/>
                        <div class="caption">
                            <h5>tencent</h5>
                            <p>Cras justo</p>
                            <p>odio, dapibus</p>
                            <p>vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="partners">
                        <img src="content/images/tencent.svg"/>
                        <div class="caption">
                            <h5>tencent</h5>
                            <p>Cras justo</p>
                            <p>odio, dapibus</p>
                            <p>vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="partners">
                        <img src="content/images/tencent.svg"/>
                        <div class="caption">
                            <h5>tencent</h5>
                            <p>Cras justo</p>
                            <p>odio, dapibus</p>
                            <p>vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="partners">
                        <img src="content/images/tencent.svg"/>
                        <div class="caption">
                            <h5>tencent</h5>
                            <p>Cras justo</p>
                            <p>odio, dapibus</p>
                            <p>vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="partners">
                        <img src="content/images/tencent.svg"/>
                        <div class="caption">
                            <h5>tencent</h5>
                            <p>Cras justo</p>
                            <p>odio, dapibus</p>
                            <p>vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
