<div ng-cloak>
    <div class="page-wrapper">
        <!--header-->

        <!--main-banner-->
        <div class="main-banner">
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
              <div uib-slide ng-repeat="slide in vm.slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin:auto;" ui-sref="product-list">
                <div class="carousel-caption">
                  <h4> </h4>
                  <p>{{slide.text}}</p>
                </div>
              </div>
            </div>
          <!-- <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
              <button type="button" class="btn btn-info" ng-click="randomize()">Randomize slides</button>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="noWrapSlides">
                  Disable Slide Looping
                </label>
              </div>
            </div>
            <div class="col-md-6">
              Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
              <br />Enter a negative number or 0 to stop the interval.
            </div>
          </div> -->
        </div>
        <!--main-cases-->
        <div class="main-cases">
            <div class="row">
                <div class="col-lg-12">
                    <h2> Case Study</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4" ng-repeat="case in vm.caseList.cases">
                    <div class="cases-list" ui-sref="case-detail({id:case['id']})">
                        <img ng-src="{{vm.PROD.IMAGEURL + case['pictures'][0]['imageUrl'] | trustAsUrl}}"/>
                        <div class="cases-list-info">
                            <h3 ng-bind="case['title']"></h3>
                            <!-- <h4 ng-bind-html-unsafe="case['brief']">Heading</h4>
                            <p ng-bind-html-unsafe="case['description']"></p> -->
                            <!-- <a class="btn-detail" ui-sref="ourservice-list">Detail</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a ui-sref="case-list" class="btn-see">See More</a>
                </div>
            </div>
        </div>
        <!--main-content-->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <h2> Hot Recommend</h2>
                    <p class="hot-text">NEWEST TRENDS FROM TOP BRANDS</p>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Nav tabs -->
                    <!-- <ul class="nav nav-tabs hot-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">New Arrvial</a></li>
                        <li>|</li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Top100</a></li>
                        <li>|</li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Hot Sales</a></li>
                    </ul> -->
                    <uib-tabset class="hot-tabs" justified="true">

                        <uib-tab ng-repeat="(k,v) in vm.baseProductList" heading="{{k}}" select="vm.loadProductList(v, k)"></uib-tab>

                    </uib-tabset>
                      <!-- Tab panes -->
                      <div class="tab-content">
                          <div role="tabpanel" class="tab-pane active" id="home">
                              <div class="row">
                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" ng-repeat="product in vm.productList.products">
                                      <div class="thumbnails" ui-sref="product-detail({'id': product['id']})">
                                          <img ng-src="{{vm.PROD.IMAGEURL + vm.getShowImg(product['pictures']) | trustAsUrl}}">
                                          <div class="caption">
                                              <h4 ng-bind="product['productName']" title="{{product['productName']}}"></h4>
                                              <p  ng-bind-html-unsafe="product['brief'] "></p>
                                              <!-- <pre ng-init="d = '<p style="color: red"> 123123</p>'">
                                                  {{d | trustAsHTML}}
                                              </pre> -->
                                              <p class="hot-color">
                                                  Color：<span class="label-warning" ng-style="{'background-color': product['productColor']}"></span>
                                              </p>
                                              <p class="hot-r">
                                                  TAGS：<a href="#" ng-bind="product['proTagName']"></a>
                                              </p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- <div role="tabpanel" class="tab-pane" id="profile">222222</div>
                          <div role="tabpanel" class="tab-pane" id="messages">33333</div> -->
                      </div>


                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a ui-sref="product-list({'orderby': vm.orderby, 'title': vm.productTitle})" class="btn-see">See More</a>
                </div>
            </div>
        </div>
        <!--main-cases-->
        <div class="main-events">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Get Promo Ideas</h2>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="event-list event-hover">
                        <img src="content/images/industry_manufacture.svg">
                        <h3>By Industy</h3>
                        <div class="event-cover">
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Educational</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Financial</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Healthcare</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Electronic</a> </p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Not-for-profit</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Casino</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Hospitality</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Real Estate</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Restaurant</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Auto Industry</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Bar</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Industry'})">Super Market</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="event-list event-hover">
                        <img src="content/images/events.svg">
                        <h3>By Event</h3>
                        <div class="event-cover">
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Events-Holiday'})">Holiday</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Event-Corporate events'})">Corporate events</a></p>
                            <p><a ui-sref="product-list({'orderby': vm.orderby,'type': 'Events-Themed Event'})">Themed Event</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="event-list event-hover">
                        <img src="content/images/Business_Catalogue.svg">
                        <h3>By Catalog</h3>
                        <div class="event-cover" >
                            <p ng-repeat="d in vm.categorysList"><a ui-sref="product-list()" ng-bind="d['cateName']"></a></p>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--main-search-->
        <div class="main-search">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="yourneed-tit">Can Not Find What Your Need ？</p>
                    <div class="yourneed">
                        <input type="text" class="needSearch" placeholder="Give me keywords"/>
                        <button class="btn-search"><i class="glyphicon glyphicon-search"></i> Search</button>
                    </div>
                </div>
            </div>
        </div>
        <!--main-rollImg-->
<!--         <div class="container main-rollImg">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="ourclients">Our Clients</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
            <a class="roll-images" href="javascript:void(0);">
                <img src="content/images/EP-Logo-notag.png" />
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
            <a class="roll-images" href="javascript:void(0);">
                <img src="content/images/GeigerBrandspiration_250px.png" />
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
            <a class="roll-images" href="javascript:void(0);">
                <img src="content/images/halo-logo.png"/>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
            <a class="roll-images" href="javascript:void(0);">
                <img src="content/images/IPU-Logo_Color-_NoBlackLine_dropshadow4.png"/>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
            <a class="roll-images" href="javascript:void(0);">
                <img src="content/images/logo_web.png"/>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
            <a class="roll-images" href="#">
                <img src="content/images/proforma-logo.png"/>
            </a>
        </div>
    </div>
</div> -->


        <div class="container main-rollImg">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="ourclients">Our Clients</h3>
                </div>
            </div>
            <div class="bd">
                <div class="wp_roll jQ_roll">
                    <a href="javascript:;" class="roll_lt jQ_plstRoLt"><i class="fa fa-angle-left"></i></a>
                    <a href="javascript:;" class="roll_rt jQ_plstRoRt"><i class="fa fa-angle-right"></i></a>
                    <div class="roll_cnt">
                        <div class="plst_pt jQ_ptLst">
                            <ul>
                                <li><img src="content/images/EP-Logo-notag.png"></li>
                                <li><img src="content/images/GeigerBrandspiration_250px.png"></li>
                                <li><img src="content/images/halo-logo.png"></li>
                                <li><img src="content/images/IPU-Logo_Color-_NoBlackLine_dropshadow4.png"></li>
                                <li><img src="content/images/logo_web.png"></li>
                                <li><img src="content/images/proforma-logo.png"></li>
                                <li><img src="content/images/logo-fazzari.png"></li>
                                <li><img src="content/images/logo-2.png"></li>
                                <li><img src="content/images/logo-4imprint.png"></li>
                                <li><img src="content/images/logo-marriott.png"></li>
                                <li><img src="content/images/logo-ee.png"></li>
                                <li><img src="content/images/logo-down.png"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--main-content-->
        <!-- <div class="main-cooperator">
            <div class="row">
                <div class="col-lg-12">
                    <h2> Cooperate Partners</h2>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="partners">
                        <img src="content/images/tencent.svg"/>
                        <div class="caption">
                            <h5>tencent</h5>
                            <p>Cras justo</p>
                            <p>odio, dapibus</p>
                            <p>vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="partners">
                        <img src="content/images/tencent.svg"/>
                        <div class="caption">
                            <h5>tencent</h5>
                            <p>Cras justo</p>
                            <p>odio, dapibus</p>
                            <p>vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="partners">
                        <img src="content/images/tencent.svg"/>
                        <div class="caption">
                            <h5>tencent</h5>
                            <p>Cras justo</p>
                            <p>odio, dapibus</p>
                            <p>vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="partners">
                        <img src="content/images/tencent.svg"/>
                        <div class="caption">
                            <h5>tencent</h5>
                            <p>Cras justo</p>
                            <p>odio, dapibus</p>
                            <p>vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="partners">
                        <img src="content/images/tencent.svg"/>
                        <div class="caption">
                            <h5>tencent</h5>
                            <p>Cras justo</p>
                            <p>odio, dapibus</p>
                            <p>vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="partners">
                        <img src="content/images/tencent.svg"/>
                        <div class="caption">
                            <h5>tencent</h5>
                            <p>Cras justo</p>
                            <p>odio, dapibus</p>
                            <p>vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<style type="text/css">


</style>
<script type="text/javascript">
//jQuery Script
$(function(){
    
    //列表自适应
    var ptListWrp = $('.jQ_ptLst');                 //列表容器
    var valLstLiWth = $('.jQ_ptLst li').width();    //图片宽度（图片可能包括边框样式等，取Li宽度参与可视图片计算避免误差）
    var valImgLth = 1;                              //可见图数变量*
    var valpLstMg = 0;                              //边距变量*
    var pLstLesMg = 5;                              //临界间距
    //列表滚动
    var pLstRoLt = $('.jQ_plstRoLt');               //左滚动元素
    var pLstRoRt = $('.jQ_plstRoRt');               //右滚动元素
    var pLstImgLth = ptListWrp.find('img').length;  //获取图片总数

    //宽度自适应方法 http://www.5icool.org/
    function fnAutoWth(){
        //重置滚动
        $('.jQ_ptLst ul').css({'marginLeft':'0'});
        pLstRoLt.hide();
        pLstRoRt.show();
        
        var pLstWrpWth = ptListWrp.width();                  //获取当前可视区域宽度
        valImgLth = Math.floor(pLstWrpWth / valLstLiWth);   ///当前可视图片数计算*
        //图片间距算法
        function fnpLstMg(){
            //间距 = 除去图片的宽度 /（图片数 + 1），并向上取整（避免小数误差）
            valpLstMg = Math.ceil((pLstWrpWth - valImgLth * valLstLiWth) / (valImgLth + 1));
        };
        //执行计算
        fnpLstMg();
        //间距临界值
        if(valpLstMg < pLstLesMg){
            valImgLth = valImgLth - 1;  //当间距达到临界值，图片数-1
            fnpLstMg();                 //重新计算间距
        };
        //可视图片数 >= 总图片数时，总图片数即可视图片数
        if(valImgLth >= pLstImgLth){
            valImgLth = pLstImgLth;
            fnpLstMg();                 //重新计算间距
            pLstRoRt.hide();
        };
        //使可视图不为0
//      if(valImgLth == 0){
//          valpLstMg = 5;
//      };
        //设置间距
        ptListWrp.find('li').css('margin-left',valpLstMg);
    };
    //初始执行宽度自适应方法
    fnAutoWth();
    //动态变化宽度时执行方法
    $(window).resize(function(){
        fnAutoWth();    //宽度自适应方法
    });
    //滚动方法
    function fnPlstArr($this){
        var pLstRoWrp = ptListWrp.find('ul');
        var ptLstCssMg = parseInt(pLstRoWrp.css('margin-left'));                    //获取当前已滚动宽度
        var ptLstImgMg = parseInt(pLstRoWrp.find('li:first').css('margin-left'));   //获取当前图片间距
        //向右滚动
        if($this.hasClass('jQ_plstRoRt')){
            //当点击右箭头时，列表向左滚动。需滚动的宽度 = 当前图片间距 + 图片宽度（取Li宽度）
            pLstRoWrp.not(':animated').animate({marginLeft: ptLstCssMg - (ptLstImgMg + valLstLiWth)},200,function(){
                //回调函数判断滚动之后的箭头状态
                var ptLstCurMg = parseInt(pLstRoWrp.css('margin-left'));                //获取当前已滚动宽度
                var ptLstRoWth = (pLstImgLth - valImgLth) * (ptLstImgMg + valLstLiWth);//计算非可视区域宽度
                //当已滚动宽度 = 非可视区宽度，即已滚动至最后一图
                if(ptLstCurMg + ptLstRoWth == 0){
                    $this.hide();   //隐藏右箭头
                };
                pLstRoLt.show();    //一旦向右滚动，左箭头即显示
            });
        };
        //向左滚动
        if($this.hasClass('jQ_plstRoLt')){
            pLstRoWrp.not(':animated').animate({marginLeft: ptLstCssMg + (ptLstImgMg + valLstLiWth)},200,function(){
                //回调函数判断滚动之后的箭头状态
                var ptLstCurMg = parseInt(pLstRoWrp.css('margin-left'));                    //获取当前已滚动宽度
                var ptLstRoWth = (pLstImgLth - valImgLth - 1) * (ptLstImgMg + valLstLiWth);//计算非可视区域宽度
                //当已滚动宽度 = 0，即已滚动至最前一图
                if(ptLstCurMg == 0){
                    $this.hide();   //隐藏左箭头
                };
                pLstRoRt.show();    //一旦向左滚动，右箭头即显示
            });
        };
    };
    //滚动事件绑定
    $('.jQ_plstRoLt, .jQ_plstRoRt').click(function(){
        fnPlstArr($(this));
    })

//..
});
</script>
