		<div class="page-wrapper">
		    <!--header-->
			<!--page-sign up-->
			<!-- <div class="main-nav">
				<div class="container">
				    <ul class="sign-up">
				        <li><a ui-sref="register">Sign Up</a></li>
				        <li class="line"><span>|</span></li>
				        <li><a href="#">Log in</a></li>
			        </ul>
				</div>
			</div> -->
			<!--main-register-->
			<div class="login-images"></div>
			<div class="main-register">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
							<div class="welcome">
								<h1>Welcome to</h1>
								<h1>Corporate Supplies</h1>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
							<!-- <div class="col-md-8 col-md-offset-2"> -->
								<div class="alert alert-danger" ng-show="vm.authenticationError">
									<strong>Failed to sign in!</strong> Please check your credentials and try again.
								</div>
							<!-- </div> -->
				    		<div class="login-brand">
						        <form action="#" class="login-form" ng-submit="vm.login($event)">
						        	<h3>CUSTOMER LOG IN</h3>
						        	<div class="control-group">
										<label class="control-label">EMAIL *</label>
										<div class="controls">
											<input type="text" class="form-control" id="username"  ng-model="vm.username">
										</div>
										<label class="help-small" ng-show="!vm.username">NAME IS REGUIRED.</label>
									</div>
									<div class="control-group">
										<label class="control-label">PASSWORD *</label>
										<div class="controls">
											<input type="password" class="form-control" id="password" ng-model="vm.password" class="form-control">
										</div>
										<label class="help-small" ng-show="!vm.password">PASSWORD IS REGUIRED.</label>
									</div>
									<div class="control-group">
										<a href="#" class="forgot-psw">FORGOT PASSWORD ？</a>
									</div>
									<div class="login-btn">
										<input type="submit" class="btn-register" value="LOG IN">
									</div>
						        </form>
						    </div>
						</div>

					</div>
				</div>
			</div>
		</div>
