		<div class="page-wrapper">
		    <!--header-->
			<!--page-sign up-->
			<div class="main-nav">
				<div class="">
				    <ul class="sign-up">
				        <li><a href="#">FAQ</a></li>
				        <li class="line"><span>|</span></li>
				        <li><a ui-sref="register">Sign Up</a></li>
				        <li class="line"><span>|</span></li>
				        <li><a href="#">Log in</a></li>
			        </ul>
				</div>
			</div>
			<!--main-register-->
			<div class="main-register login-images">
				<div class="">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
							<div class="welcome">
								<h1>Welcome to</h1>
								<h1>Corporate Supplies</h1>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
				    		<div class="login-brand">
						        <form action="#" class="login-form">
						        	<h3>CUSTOMER LOG IN</h3>
						        	<div class="control-group">
										<label class="control-label">EMAIL *</label>
										<div class="controls">
											<input type="text" placeholder="EMAIL" class="form-control">
										</div>
										<label class="help-small">EMAIL IS REGUIRED.</label>
									</div>
									<div class="control-group">
										<label class="control-label">PASSWORD *</label>
										<div class="controls">
											<input type="text" placeholder="PASSWORD" class="form-control">
										</div>
										<label class="help-small">PASSWORD IS REGUIRED.</label>
									</div>
									<div class="control-group">
										<a href="#" class="forgot-psw">FORGOT PASSWORD ？</a>
									</div>
									<div class="login-btn">
										<a href="index.html" class="btn-register">LOG IN</a>
									</div>
						        </form>
						    </div>
						</div>

					</div>
				</div>
			</div>
		</div>
